<ion-header>
  <ion-navbar>
    <ion-title>
      Login 
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>


  <ion-grid *ngIf='!college'>

    <ion-card (click)="mypage('tech')">
    <img src="./assets/img/snsct.png">
    </ion-card>
  

   
 <ion-card (click)="mypage('eng')">
    <img src="./assets/img/snsce.png">
 </ion-card>
 
<ion-card (click)="mypage('arts')">
    <img src="./assets/img/arts.jpeg">
</ion-card>


  </ion-grid>
   <ion-list *ngIf='college' style='text-align:center'>
  
    <img src="{{collegelogo}}">

    <ion-item>
    <ion-label floating>Username</ion-label>
    <ion-input [(ngModel)]="username" type="text"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label floating>Password</ion-label>
    <ion-input [(ngModel)]="password" type="password"></ion-input>
  </ion-item>
<button ion-button round (click)='login()' class='login-button'>Login</button>
</ion-list>
 </ion-content>



  
